/* Font Faces */
@font-face {
  font-family: 'GreatVibes';
  src: url('../public/GreatVibes-Regular.ttf') format("opentype");
}
@font-face {
  font-family: 'Trebuchet MS';
  src: url('../public/trebuc.ttf') format("opentype");
}

/* Global Styles */
body {
  font-family: 'MyCustomFont', sans-serif;
  height: 100vh;
}

/* Navigation Styles */
.navHeader {
  font-family: 'GreatVibes', cursive;
  font-size: 30px;
  color: rgb(16, 16, 16);
  text-shadow: 2px 2px 4px rgba(10, 10, 10, 0.637); 
}

.nav {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background: linear-gradient(90deg, #a6a6a6, #ffffff);
  color: rgb(16, 14, 14);
  transition: left 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav.open {
  left: 0;
}

.nav.open::after {
  content: '';
  position: absolute;
  top: 75px;
  bottom: 75px;
  right: 0;
  width: 2px;
}

.nav-toggle {
  position: absolute;
  top: 10px;
  right: -50px;
  background-color: transparent;
  color: rgb(14, 10, 10);
  border: 3px solid rgb(16, 14, 14);
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.nav ul li {
  text-align: center;
}

.nav ul li p {
  color: rgb(16, 16, 16);
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  transition: transform 0.3s, text-decoration-color 0.3s;
}

.nav ul li p:hover {
  text-decoration: underline;
  text-decoration-color: red;
  transform: scale(1.2);
  cursor: pointer;
}

/* Content Styles */
.content {
  transition: margin-left 0.3s;
}

.content.shifted {
  margin-left: 200px;
}

/* Image Styles */
.navBarImage {
  width: 120px;
  border-radius: 40%;
  margin-top: 20px;
  border: 1px solid black;
}

/* Home Page Styles */
.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgb(21, 5, 5);
}

.home-content {
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-page-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

svg:hover {
  transform: scale(1.2);
  color: red;
}

/* Keyframes for Animations */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Text Styles */
.header-styling {
  font-family: 'GreatVibes', cursive;
  font-size: 65px;
  color: rgb(16, 16, 16);
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(10, 10, 10, 0.637); 
  font-weight: lighter;
  animation: slideDown 1s ease-out;
}

.name-styling {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 100px;
  color: rgb(16, 16, 16);
  margin: 0 auto;
  text-shadow: 3px 3px 5px;
  animation: slideInLeft 1s ease-out;
}

.title-styling {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 35px;
  color: rgb(16, 16, 16);
  margin: 0 auto;
  text-shadow: 1px 1px 2px;
  font-weight: lighter;
  animation: slideInRight 1s ease-out;
}

.body-styling {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: rgb(7, 7, 7);
  background-color: #d5cfcf;
  margin: 0 auto;
  letter-spacing: 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.625);
  padding: 10px;
  animation: fadeIn 4s ease-out;
}

/* About Page Styles */
.about-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: rgb(21, 5, 5);
}

.about-content {
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-image {
  width: 300px;
  height: 300px;
  border-radius: 30%;
  border: 1px solid black;
  animation: fadeIn 2s ease-out 1;
  box-shadow: 5px 5px 5px rgba(19, 20, 19, 0.6);
}